# Import + Load

In [1]:
import pandas as pd
import re
import json
import numpy as np
import ast
import time

In [2]:
df = pd.read_csv("movies/movies_metadata.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

/tmp/ipykernel_41324/3629544706.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies/movies_metadata.csv")

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# Assessments

Let's try to find columns with multiple values on each of its rows.

In [4]:
# Function to identify columns with multiple values
def identify_multi_value_columns(df):
    multi_value_columns = []
    pattern = re.compile(r'{')  # Pattern to match multi-value entries

    for column in df.columns:
        if df[column].astype(str).apply(lambda x: bool(pattern.search(x))).any():
            multi_value_columns.append(column)
    
    return multi_value_columns

multi_value_columns = identify_multi_value_columns(df)
print("Columns with multiple values:", multi_value_columns)

Columns with multiple values: ['belongs_to_collection', 'genres', 'homepage', 'original_title', 'overview', 'production_companies', 'production_countries', 'spoken_languages']

It's odd that we have `belongs_to_collection`, `homepage`, `original_title`, and `overview` in the list. The others are plural so they made sense. Let's analyze them one-by-one.

## 1. Weird Original Titles

Some original_title values are JSON, and they don't have titles.

In [5]:
df[df['original_title'].str.contains(r'{', regex=True)][['original_title', 'title']]

                                 original_title title
19730  [{'iso_639_1': 'en', 'name': 'English'}]   NaN
29503      [{'iso_639_1': 'ja', 'name': '日本語'}]   NaN
35587  [{'iso_639_1': 'en', 'name': 'English'}]   NaN

One of the rows looks like this.

In [6]:
df.loc[19730]

adult                                                   - Written by Ørnås
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

`value_counts()` of `original_title` to get an idea of how it should look like.

In [7]:
df['original_title'].value_counts(dropna=False)

original_title
Hamlet                         8
Alice in Wonderland            8
A Christmas Carol              7
Cinderella                     7
Les Misérables                 7
                              ..
Dracula: Dead and Loving It    1
The American President         1
GoldenEye                      1
Sudden Death                   1
Tom and Huck                   1
Name: count, Length: 43373, dtype: int64

How about other titles. Are there any NaNs?

In [8]:
df[df['title'].isna()][['title', 'original_title', 'poster_path']]

,title,original_title,poster_path
19729,NaN,Midnight Man,NaN
19730,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Midnight Man
29502,NaN,マルドゥック・スクランブル 排気,NaN
29503,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Mardock Scramble: The Third Exhaust
35586,NaN,Avalanche Sharks,NaN
35587,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Avalanche Sharks

Is there any NaN `original_title`?

In [9]:
df[df['original_title'].isna()]['original_title']

Series([], Name: original_title, dtype: object)

There is no NaN `original_title`.

### Conclusion

For all NaN `title`s:

- Use the `original_title` if `original_title` does not have JSON text
- Use `poster_path` otherwise, and also replace the `original_title` with `poster_path`

Issue name: **NaN `title` and invalid `original_title`**

## 2. belongs_to_collection

Let's first check out its value counts

In [10]:
df['belongs_to_collection'].value_counts(dropna=False)

belongs_to_collection
NaN                                                                                                                                                               40972
{'id': 415931, 'name': 'The Bowery Boys', 'poster_path': '/q6sA4bzMT9cK7EEmXYwt7PNrL5h.jpg', 'backdrop_path': '/foe3kuiJmg5AklhtD3skWbaTMf2.jpg'}                    29
{'id': 421566, 'name': 'Totò Collection', 'poster_path': '/4ayJsjC3djGwU9eCWUokdBWvdLC.jpg', 'backdrop_path': '/jaUuprubvAxXLAY5hUfrNjxccUh.jpg'}                    27
{'id': 96887, 'name': 'Zatôichi: The Blind Swordsman', 'poster_path': '/8Q31DAtmFJjhFTwQGXghBUCgWK2.jpg', 'backdrop_path': '/bY8gLImMR5Pr9PaG3ZpobfaAQ8N.jpg'}       26
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}                  26
                                                                                                                                                                  ...
{'id': 458813, 'name': 'Salt and Pepper Collection', 'poster_path': None, 'backdrop_path': None}                                                                      1
{'id': 148603, 'name': 'Ducobu Collection', 'poster_path': '/rd7AWZUy2QFPIblNWToVmdfXQcA.jpg', 'backdrop_path': '/7mzKmoIrvGapvsSbAVlX4HtCnFj.jpg'}                   1
{'id': 400500, 'name': 'Чебурашка и крокодил Гена', 'poster_path': '/epKHY3ZHJkTF7U3YAXCrjtmnC99.jpg', 'backdrop_path': '/zBStJBeBsnRMTyCLBSWlhLWB4XW.jpg'}           1
{'id': 104774, 'name': 'Tomtar och Trolltyg Collection', 'poster_path': '/5UMq1DmJva3l7wg3VK641Sfn9D.jpg', 'backdrop_path': None}                                     1
{'id': 463112, 'name': 'Hailey Dean Mystery Collection', 'poster_path': None, 'backdrop_path': None}                                                                  1
Name: count, Length: 1699, dtype: int64

Most of them are NaNs with seemingly the rest of them JSON values. Let's find out.

Get all rows where `belongs_to_collection` has JSON-like strings:

In [11]:
df[df['belongs_to_collection'].fillna('').str.contains(r'{', regex=True)][['belongs_to_collection', 'title']]

,belongs_to_collection,title
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",Toy Story
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Grumpier Old Men
4,"{'id': 96871, 'name': 'Father of the Bride Col...",Father of the Bride Part II
9,"{'id': 645, 'name': 'James Bond Collection', '...",GoldenEye
12,"{'id': 117693, 'name': 'Balto Collection', 'po...",Balto
...,...,...
45355,"{'id': 37261, 'name': 'The Carry On Collection...",Carry On Follow That Camel
45358,"{'id': 37261, 'name': 'The Carry On Collection...",Carry On Camping
45369,"{'id': 37261, 'name': 'The Carry On Collection...",Carry On England
45371,"{'id': 477208, 'name': 'DC Super Hero Girls Co...",LEGO DC Super Hero Girls: Brain Drain
45382,"{'id': 200641, 'name': 'Red Lotus Collection',...",The Twin Swords

And now, get all rows where `belongs_to_collection` is not JSON and not NaN either:

In [12]:
filled = df['belongs_to_collection'].fillna('')
df[(filled.fillna('') != '') & (~filled.str.contains(r'{', regex=True))] \
  [['belongs_to_collection', 'title', 'original_title', 'poster_path']]

,belongs_to_collection,title,original_title,poster_path
19730,0.065736,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Midnight Man
29503,1.931659,NaN,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Mardock Scramble: The Third Exhaust
35587,2.185485,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",Avalanche Sharks

That's interesting. Apparently, there are `belongs_to_collection` values that are floating numbers, and they all have titles in their `poster_path` field. Let's see if there's another field that contains the correct `belongs_to_collection` value.

In [13]:
df.loc[19730]

adult                                                   - Written by Ørnås
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

Looks like there isn't any.

Now, finally, let's get a typical value for the JSON-like `belongs_to_collection`.

In [14]:
df.loc[45355]['belongs_to_collection']

"{'id': 37261, 'name': 'The Carry On Collection', 'poster_path': '/2P0HNrYgKDvirV8RCdT1rBSJdbJ.jpg', 'backdrop_path': '/38tF1LJN7ULeZAuAfP7beaPMfcl.jpg'}"

Looks like we need to get the "name" property.

### Conclusion

- For rows with `belongs_to_collection` containing JSON values, replace `belongs_to_collection` with its "name" property.
- For rows with `belongs_to_collection` containing floating numbers, replace them with NaN.

Issue name: **Invalid `belongs_to_collection`**

## 3. `homepage`

Same drill as before. Do value_counts, and then find json values.

In [15]:
df['homepage'].value_counts(dropna=False)

homepage
NaN                                                  37684
http://www.georgecarlin.com                             12
http://www.wernerherzog.com/films-by.html                7
http://breakblade.jp/                                    6
http://www.crownintlpictures.com/tztitles.html           4
                                                     ...
http://www.arthurchristmas.com/                          1
http://happyfeettwo.warnerbros.com/index.html            1
http://rampartmovie.com/                                 1
http://singyoursongthemovie.com/                         1
http://www.cinemadpresents.com/2011/04/shit-year/        1
Name: count, Length: 7674, dtype: int64

In [16]:
df[df['homepage'].fillna('').str.contains(r'{', regex=True)][['homepage', 'title', 'poster_path']]

,homepage,title,poster_path
4635,http://tartanvideo.com/film.asp?ProjectID={C66...,L.I.E.,/ck5Tkq17M6khEN7JQlQznoYl37L.jpg
19730,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",NaN,Midnight Man
29503,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,Mardock Scramble: The Third Exhaust
35587,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",NaN,Avalanche Sharks

![three](three.jpg)

In [17]:
display(df.loc[19730]['homepage'])
df.loc[19730]

"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"

adult                                                   - Written by Ørnås
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

### Conclusion

- For `homepage` that **starts** with "[{", replace with NaN.
- Otherwise keep them

Issue name: **Invalid `homepage`**

## 4. `overview`

In [18]:
df['overview'].value_counts(dropna=False)

overview
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    954
No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                                                                                                                                                                                                                                           3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
A kindergarten director Troshkin is a dead ringer for a criminal nicknamed "Docent" who stole the priceless...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
A man wakes up deep inside a cave. Suffering amnesia, he has no recollection of how he came to be here or of what happened to the man whose body he finds beside him. Tailed by a mysterious creature, he must continue through this strange and fantastic world. Enclosed, Tolbiac has no other option to reach the surface than to use REZO ZERO, secret observing cells in this cemetery-like abandoned mine.                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
After Amy convinces Nicole to kill her abusive husband, Nicole travels to her on-line friend's home -- only to find Amy's own abused spouse, Chandler. And he's got blood on his hands, too. TRAP is a painfully funny look inside love, marriage, and body disposal.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
On a remote Irish farm, five people become unwilling participants in an experiment that goes nightmarishly wrong.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Mike Bassett: England Manager is an hilarious British Comedy that stars Ricky Thomlinson. Featuring Cameos from Barry Venison, Gabby Yorath, Atomic Kitten and Pele.When the England manager has a heart attack, footballs' top brass turn to Mike Bassett (basically no one else wanted the job). England lose Mike's first two games in charge. His team struggles to a goal-less draw in the final qualifying match but, thanks to a fluke result elsewhere, England qualify for the finals in Brazil.In South America things go from bad to worse. Pressure is mounting for Mike. An embarrassing drunken performance caught by a new photographer seals his fate as the most unpopular Englishman ever.However, Mike makes an impassioned plea for the country to get behind him - fans, press, players.... even his wife. Can Mike turn the tide and bring football home ? ..      1
Name: count, Length: 44308, dtype: int64

In [19]:
df[df['overview'].fillna('').str.contains(r'{', regex=True)][['overview', 'title', 'poster_path']]

,overview,title,poster_path
19588,"""Volumen"" collects every video from Bjork's ca...",Björk: Volumen,/uEfwqT0vIA31SPyfEihNRmBpQ1C.jpg
39350,"In Africa, many years ago, Slim and Tom don't ...",I'm for the Hippopotamus,/5fMQdIGO5tncCa7sH26xXOSzAFa.jpg

### Conclusion

For `overview`, we can just keep the values as they are. This is not an issue.

## 5. Other columns with multiple values (`genres`, `production_companies`, `production_countries`, `spoken_languages`)

In [20]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [21]:
df['production_companies'].value_counts(dropna=False)

production_companies
[]                                                                                                                                                                                      11875
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}]                                                                                                                                       742
[{'name': 'Warner Bros.', 'id': 6194}]                                                                                                                                                    540
[{'name': 'Paramount Pictures', 'id': 4}]                                                                                                                                                 505
[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]                                                                                                                           439
                                                                                                                                                                                        ...
[{'name': 'Dune Entertainment', 'id': 444}, {'name': 'Cold Spring Pictures', 'id': 2363}, {'name': 'The Montecito Picture Company', 'id': 2364}, {'name': 'Fox Atomic', 'id': 2890}]        1
[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}, {'name': 'John Ford Productions', 'id': 10698}, {'name': 'Bernard Smith Productions', 'id': 12440}]                                     1
[{'name': 'Panthéon Productions', 'id': 44715}]                                                                                                                                             1
[{'name': 'Mandalay Television', 'id': 3996}, {'name': 'Lifetime Television', 'id': 6530}]                                                                                                  1
[{'name': 'Dimension Films', 'id': 7405}, {'name': 'Spectacle Entertainment Group', 'id': 10370}, {'name': 'Trancas International Films', 'id': 15822}]                                     1
Name: count, Length: 22709, dtype: int64

Notice from the `df.loc[19730]` result above that we also have rows with `production_companies=='False'`.

In [22]:
df[df['production_companies'] == 'False']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The "False" strings need to be replaced by NaN.

In [23]:
df['production_countries'].value_counts(dropna=False)

production_countries
[{'iso_3166_1': 'US', 'name': 'United States of America'}]                                                                                                                                     17851
[]                                                                                                                                                                                              6282
[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]                                                                                                                                                2238
[{'iso_3166_1': 'FR', 'name': 'France'}]                                                                                                                                                        1654
[{'iso_3166_1': 'JP', 'name': 'Japan'}]                                                                                                                                                         1356
                                                                                                                                                                                               ...
[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'NO', 'name': 'Norway'}]                             1
[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}]                                                     1
[{'iso_3166_1': 'IE', 'name': 'Ireland'}, {'iso_3166_1': 'CA', 'name': 'Canada'}]                                                                                                                  1
[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'iso_3166_1': 'FR', 'name': 'France'}, {'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]        1
[{'iso_3166_1': 'SE', 'name': 'Sweden'}, {'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'DE', 'name': 'Germany'}]                                                        1
Name: count, Length: 2394, dtype: int64

Use both the "iso_3166_1" and "name" properties to replace `production_countries`.

In [24]:
df['spoken_languages'].value_counts(dropna=False)

spoken_languages
[{'iso_639_1': 'en', 'name': 'English'}]                                                                                                                                                                     22395
[]                                                                                                                                                                                                            3829
[{'iso_639_1': 'fr', 'name': 'Français'}]                                                                                                                                                                     1853
[{'iso_639_1': 'ja', 'name': '日本語'}]                                                                                                                                                                          1289
[{'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                                                                                                     1218
                                                                                                                                                                                                             ...
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'is', 'name': 'Íslenska'}, {'iso_639_1': 'it', 'name': 'Italiano'}]                                                                                       1
[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'hu', 'name': 'Magyar'}]                                                                                            1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso_639_1': 'es', 'name': 'Español'}]        1
[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}, {'iso_639_1': 'it', 'name': 'Italiano'}, {'iso_639_1': 'la', 'name': 'Latin'}]         1
[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fa', 'name': 'فارسی'}, {'iso_639_1': 'ur', 'name': 'اردو'}, {'iso_639_1': 'ar', 'name': 'العربية'}]                                                      1
Name: count, Length: 1932, dtype: int64

Use both the "iso_639_1" and "name" properties to replace `spoken_languages`.

### Conclusion

Issues found:

1. **`genres` need to be unrolled. "name" property should be used for each `genre`.**
2. **"False" (string) in `production_companies`**
3. **`production_companies` need to be unrolled. "name" property should be used for each `production_company`.**
4. **`production_countries` need to be unrolled. "iso_3166_1" and "name" property should be used for each `production_country`.**
5. **`spoken_languages` need to be unrolled. "iso_639_1" and "name" property should be used for each `spoken_language`.**

# List of issues

1. NaN `title` and invalid `original_title`
2. Invalid `belongs_to_collection`
3. Invalid `homepage`
4. `genres` need to be unrolled. "name" property should be used for each `genre`.
5. "False" (string) in `production_companies`
6. `production_companies` need to be unrolled. "name" property should be used for each `production_company`.
7. `production_countries` need to be unrolled. "iso_3166_1" and "name" properties should be used for each `production_country`.
8. `spoken_languages` need to be unrolled. "iso_639_1" and "name" properties should be used for each `spoken_language`.
9. Drop unneeded columns

# Clean-ups

In [25]:
dfc = df.copy()

## 1. NaN `title` and invalid `original_title`

For all NaN `title`s:

- Use the `original_title` if `original_title` does not have JSON text
- Use `poster_path` otherwise, and also replace the `original_title` with `poster_path`

In [26]:
# Fill NaN titles using original_title if it does not contain '{', else use poster_path
# Create a mask for rows where title is NaN
nan_title_mask = dfc['title'].isna()

# Create a mask for original_title containing '{'
original_title_json_mask = dfc['original_title'].str.contains(r'{', regex=True)

# Apply conditions to fill NaN titles
dfc.loc[nan_title_mask & ~original_title_json_mask, 'title'] = dfc['original_title']
dfc.loc[nan_title_mask & original_title_json_mask, 'title'] = dfc['poster_path']

# Replace original_title with poster_path where original_title contains '{' and title was NaN
dfc.loc[nan_title_mask & original_title_json_mask, 'original_title'] = dfc['poster_path']

### Test

Let's run the same code as we had in the Assessment section. When correct, should return empty rows (meaning there's no empty `title` and no `original_title` with JSON content).

In [27]:
dfc[dfc['title'].isna()][['title', 'original_title', 'poster_path']]

Empty DataFrame
Columns: [title, original_title, poster_path]
Index: []

In [28]:
dfc[dfc['original_title'].str.contains(r'{', regex=True)][['original_title', 'title']]

Empty DataFrame
Columns: [original_title, title]
Index: []

## 2. Invalid `belongs_to_collection`

- For rows with `belongs_to_collection` containing JSON values, replace `belongs_to_collection` with its "name" property.
- For rows with `belongs_to_collection` containing floating numbers, replace them with NaN.

In [29]:
input_str = "{'id': 118221, 'name': 'Weekend at Bernie\'s Collection', 'poster_path': '/gJVBXVetIkgVVMbzODQ3dJwvQkV.jpg', 'backdrop_path': '/khVvskKc4VzAHbHtQMhKGeKWDxC.jpg'}"

def fix_json_string(json_str):
    json_str = json_str.replace("None", "null")
    
    # Replace single quotes around keys and values with double quotes, but preserve single quotes within values
    json_str = re.sub(r"'(?P<key>[^']+?)':", r'"\g<key>":', json_str)  # Keys
    json_str = re.sub(r":\s*'(.*?)'(,|})", r': "\g<1>"\2', json_str) # Values
    return json_str

fix_json_string(input_str)

'{"id": 118221, "name": "Weekend at Bernie\'s Collection", "poster_path": "/gJVBXVetIkgVVMbzODQ3dJwvQkV.jpg", "backdrop_path": "/khVvskKc4VzAHbHtQMhKGeKWDxC.jpg"}'

In [30]:
# Create masks for JSON-like strings and floating numbers
json_mask = dfc['belongs_to_collection'].fillna('').str.contains(r'{', regex=True)
float_mask = ~dfc['belongs_to_collection'].isna() & dfc['belongs_to_collection'].apply(lambda x: isinstance(x, float))

# Extract the "name" property from JSON strings

def fix_json_string(json_str):
    json_str = json_str.replace("None", "null")
    
    # Replace single quotes around keys and values with double quotes, but preserve single quotes within values
    json_str = re.sub(r"'(?P<key>[^']+?)':", r'"\g<key>":', json_str)  # Keys
    json_str = re.sub(r":\s*'(.*?)'(,|})", r': "\g<1>"\2', json_str) # Values
    return json_str
    
def load_json(v):
    fixed_str = fix_json_string(v)
    return json.loads(fixed_str)

dfc.loc[json_mask, 'belongs_to_collection'] = dfc.loc[json_mask, 'belongs_to_collection'].apply(lambda x: load_json(x)['name'])

# Replace floating numbers with NaN
dfc.loc[float_mask, 'belongs_to_collection'] = np.nan

### Test

1. Check if the JSON values were updated correctly
2. Check if there is no longer JSON values
3. Check if values of rows that were previously floating numbers no longer existed

In [31]:
# Check if the JSON values were updated correctly
dfc['belongs_to_collection'].value_counts()

belongs_to_collection
The Bowery Boys                   29
Totò Collection                   27
Zatôichi: The Blind Swordsman     26
James Bond Collection             26
The Carry On Collection           25
                                  ..
Salt and Pepper Collection         1
Ducobu Collection                  1
Чебурашка и крокодил Гена          1
Tomtar och Trolltyg Collection     1
Hailey Dean Mystery Collection     1
Name: count, Length: 1698, dtype: int64

In [32]:
# Check if there is no longer JSON values (should return 0 rows)
display(dfc[dfc['belongs_to_collection'].fillna('').str.contains(r'{', regex=True)][['belongs_to_collection', 'title']])

Empty DataFrame
Columns: [belongs_to_collection, title]
Index: []

In [33]:
# Check if values of rows that were previously floating numbers no longer existed (should return 0 rows)
float_mask = ~dfc['belongs_to_collection'].isna() & dfc['belongs_to_collection'].apply(lambda x: isinstance(x, float))
dfc.loc[float_mask][['belongs_to_collection', 'title']]

Empty DataFrame
Columns: [belongs_to_collection, title]
Index: []

## 3. Invalid `homepage`

- For `homepage` that **starts** with "[{", replace with NaN.
- Otherwise keep them

In [34]:
# Create a mask to identify rows where homepage starts with "[{"
homepage_mask = dfc['homepage'].fillna('').str.startswith('[{')

# Replace those values with NaN
dfc.loc[homepage_mask, 'homepage'] = np.nan

### Test

In [35]:
dfc['homepage'].value_counts()

homepage
http://www.georgecarlin.com                               12
http://www.wernerherzog.com/films-by.html                  7
http://breakblade.jp/                                      6
http://www.kungfupanda.com/                                4
http://www.missionimpossible.com/                          4
                                                          ..
http://happyfeettwo.warnerbros.com/index.html              1
http://rampartmovie.com/                                   1
http://singyoursongthemovie.com/                           1
http://extremelyloudandincrediblyclose.warnerbros.com/     1
http://www.promnightinmississippi.com/                     1
Name: count, Length: 7670, dtype: int64

## 4. `genres` need to be exploded. "name" property should be used for each `genre`.

In [36]:
test_str = "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
def str_separate(json_text, prop, separator='|'):
    obj = load_json(json_text)
    return separator.join([x['name'] for x in obj])

str_separate(test_str, 'name')

'Animation|Comedy|Family'

In [37]:
def split_var(_df, varname, new_varname, property='name'):
    """ Split a dataframe where a variable with multiple values is unrolled into multiple rows.
    
    Args:
    - df: The DataFrame object
    - varname: Current variable name
    - new_varname: New variable name that contains the singular item
    - property: The property name to get from each JSON object
    """
    temp_varname = "_{}_temp".format(varname)
    
    # Convert the JSON-like strings to lists of names
    s = _df[varname].apply(lambda x: str_separate(x, 'name', '|'))

    _df[temp_varname] = s.str.split('|')
    df1 = _df.explode(temp_varname).reset_index(drop=True)
    df1.rename(columns={temp_varname: new_varname}, inplace=True)
    _df.drop(columns=[temp_varname], inplace=True)
    return df1

start_time = time.time()
df_genres = split_var(dfc, 'genres', 'genre', property='name')[['id', 'genre']]
df_genres.rename(columns={'id': 'movie_id'}, inplace=True)

literal_eval_time = time.time() - start_time
print("time: {}".format(literal_eval_time))

time: 0.2637336254119873

### Test

Take a quick look at the produced dataset.

In [38]:
df_genres.head(10)

  movie_id      genre
0      862  Animation
1      862     Comedy
2      862     Family
3     8844  Adventure
4     8844    Fantasy
5     8844     Family
6    15602    Romance
7    15602     Comedy
8    31357     Comedy
9    31357      Drama

### 5. "False" (string) in `production_companies`

In [39]:
dfc.loc[dfc['production_companies'] == 'False', 'production_companies'] = np.nan

### Test
Do we still have the value "False" in `production_companies`?

In [40]:
dfc[dfc['production_companies'] == 'False']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

## 6. `production_companies` need to be unrolled. "name" property should be used for each `production_company`.

In [42]:
def quick_load_json(v):
    """ Load JSON with literal eval """
    if type(v) != str and (v is None or np.isnan(v)):
        return []
    return ast.literal_eval(v)
def split_vars(_df, varname, properties=["name"], new_varnames=["_name"]):
    """ Split a dataframe where a variable with multiple values is unrolled into multiple rows.
    
    Args:
    - df: The DataFrame object
    - varname: Current variable name
    - properties: Properties to extract
    - new_varnames: New variable names that will contain each singular property value
    - separator: Separator in the variable
    """
    temp_varname = "_{}_temp".format(varname)
    _df[temp_varname] = _df[varname].apply(lambda x: quick_load_json(x))
    df1 = _df.explode(temp_varname)

    # Generalized function to extract specified properties from a dictionary
    def extract_properties(data_dict, properties):
        if pd.isna(data_dict):
            return pd.Series([None] * len(properties))
        try:
            # Extract the specified properties
            return pd.Series([data_dict.get(prop, None) for prop in properties])
        except (ValueError, SyntaxError, AttributeError):
            return pd.Series([None] * len(properties))
            
    df1[new_varnames] = df1[temp_varname].apply(extract_properties, properties=properties)
    df1.drop(columns=[temp_varname], inplace=True)
    _df.drop(columns=[temp_varname], inplace=True)
    return df1


start_time = time.time()

df_production_companies = split_vars(dfc, 'production_companies',
                properties=['name'],
                new_varnames=['name']
               )[['id', 'name']]
df_production_companies.rename(columns={'id': 'movie_id'}, inplace=True)

literal_eval_time = time.time() - start_time
print("time: {}".format(literal_eval_time))

JSONDecodeError: Expecting ',' delimiter: line 1 column 60 (char 59)

### Test

In [ ]:
df_production_companies

## 7. `production_countries` need to be unrolled. "iso_3166_1" and "name" properties should be used for each `production_country`.

In [ ]:
dfc.loc[0]['production_countries']

In [ ]:
test_str = "[{'iso_3166_1': 'US', 'name': 'United States of America'}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}]"
ast.literal_eval(test_str)

In [ ]:
test_str = "[{'iso_3166_1': 'US', 'name': None}, {'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso_3166_1': 'LU', 'name': 'Luxembourg'}]"
ast.literal_eval(test_str)

In [ ]:
# Split the var
start_time = time.time()
df_production_countries = split_vars(dfc, 'production_countries',
                properties=['iso_3166_1', 'name'],
                new_varnames=['iso_3166_1', 'name']
               )[['id', 'iso_3166_1', 'name']]
df_production_countries.rename(columns={'id': 'movie_id'}, inplace=True)

literal_eval_time = time.time() - start_time
print("time: {}".format(literal_eval_time))

### Test
Let's see some produced values.

In [ ]:
df_production_countries.iloc[20:30]

## 8. `spoken_languages` need to be unrolled. "iso_639_1" and "name" properties should be used for each `spoken_language`.

In [ ]:
start_time = time.time()
df_spoken_languages = split_vars(dfc, 'spoken_languages',
                properties=['iso_639_1', 'name'],
                new_varnames=['iso_639_1', 'name']
               )[['id', 'iso_639_1', 'name']]
df_spoken_languages.rename(columns={'id': 'movie_id'}, inplace=True)

literal_eval_time = time.time() - start_time
print("time: {}".format(literal_eval_time))

### Test

In [ ]:
df_spoken_languages.iloc[20:30]

## 9. Drop unneeded columns

In [ ]:
dfc.drop(columns=['genres', 'production_companies', 'production_countries', 'spoken_languages'], inplace=True)

# Save the final dataset

In [ ]:
dfc.to_csv('movies_cleaned/movies_metadata.csv', index=False)
df_genres.to_csv('movies_cleaned/genres.csv', index=False)
df_production_companies.to_csv('movies_cleaned/production_companies.csv', index=False)
df_spoken_languages.to_csv('movies_cleaned/spoken_languages.csv', index=False)

# Appendix 1. Flattening a Table with Multiple Columns Containing Multiple Values

The example below demonstrates how to flatten a table with multiple columns that contain multiple values. The goal is to avoid creating a Cartesian product of the columns. We provide two approaches: a straightforward looping approach and a more efficient vectorized approach.

**However, flattening columns still present another issue: We can no longer accurately calculate aggregated numeric columns. Therefore, we decided to create relational tables instead.**

## Looping Approach (Slower)

The first code block uses the straightforward looping approach, which, while intuitive, can be slow for large datasets.

In [ ]:
# Example DataFrame with multiple fields having multiple values
_df = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Hobbies': [['Reading', 'Swimming'], ['Cycling'], ['Running', 'Cycling', 'Reading']],
    'Skills': [['Python', 'SQL'], ['Excel'], ['Python', 'Tableau']]
})

# Flatten the DataFrame
flattened_data = []

for _, row in _df.iterrows():
    max_len = max(len(row['Hobbies']), len(row['Skills']))
    hobbies = row['Hobbies'] + [None] * (max_len - len(row['Hobbies']))
    skills = row['Skills'] + [None] * (max_len - len(row['Skills']))
    
    for hobby, skill in zip(hobbies, skills):
        flattened_data.append([row['ID'], row['Name'], hobby, skill])

# Create a new flattened DataFrame
flattened_df = pd.DataFrame(flattened_data, columns=['ID', 'Name', 'Hobby', 'Skill'])

flattened_df

## Vectorized Approach (Faster)
The second code block demonstrates a more efficient, vectorized approach that avoids the pitfalls of the Cartesian product while maintaining performance.

In [ ]:
# Example DataFrame with multiple fields having multiple values
_df = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Hobbies': [['Reading', 'Swimming'], ['Cycling'], ['Running', 'Cycling', 'Reading']],
    'Skills': [['Python', 'SQL'], ['Excel'], ['Python', 'Tableau']]
})

# Explode each column individually
hobbies_exploded = _df.explode('Hobbies').reset_index(drop=True)
skills_exploded = _df.explode('Skills').reset_index(drop=True)

# Ensure the length of both exploded dataframes match
max_len = max(len(hobbies_exploded), len(skills_exploded))
hobbies_exploded = hobbies_exploded.reindex(range(max_len)).reset_index(drop=True)
skills_exploded = skills_exploded.reindex(range(max_len)).reset_index(drop=True)

# Combine the exploded columns
flattened_df = hobbies_exploded[['ID', 'Name', 'Hobbies']].combine_first(skills_exploded[['ID', 'Name', 'Skills']])

# Rename columns for clarity
flattened_df = flattened_df.rename(columns={'Hobbies': 'Hobby', 'Skills': 'Skill'})

flattened_df