In [1]:
import yfinance as yf

In [6]:
tickers = "AAPL"

stock_data = yf.download(ticker, start="2024-01-01", end="2025-01-01")

print(stock_data.head())

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2024-01-02  184.532074  187.315366  182.792518  186.033057  82488700
2024-01-03  183.150375  184.770652  182.335262  183.120556  58414500
2024-01-04  180.824356  181.997307  179.800504  181.062914  71983600
2024-01-05  180.098709  181.669281  179.094742  180.903888  62303300
2024-01-08  184.452560  184.492330  180.416793  181.003268  59144500

In [8]:
start_date = "2024-04-01"
end_date = "2024-05-01"

tickers = ["AAPL", "MSFT"]

historical_prices = yf.download(tickers, start=start_date, end=end_date)

historical_prices.head()

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.230911  422.197968  170.445179  425.499426  168.683493
2024-04-02  168.046494  419.085480  168.544144  420.020231  167.439360
2024-04-03  168.852692  418.100983  169.877850  420.895281  167.787728
2024-04-04  168.026611  415.545349  171.112033  426.275075  168.026611
2024-04-05  168.783035  423.142639  169.589226  424.127129  168.155991

Price                         Open                Volume
Ticker            MSFT        AAPL        MSFT      AAPL      MSFT
Date
2024-04-01  419.861091  170.385463  421.581436  46240500  16316000
2024-04-02  415.505586  168.285371  417.762893  49329500  17912000
2024-04-03  416.748565  167.996733  417.385004  47691700  16502300
2024-04-04  415.237083  169.489689  422.615612  53704400  19370900
2024-04-05  415.982883  168.792983  417.663444  42055200  16544300

In [9]:
historical_prices = yf.download(tickers, start=start_date, end=end_date, auto_adjust=False)

historical_prices.head()

[*********************100%***********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.230911  422.197968  170.029999  424.570007  171.250000
2024-04-02  168.046494  419.085480  168.839996  421.440002  169.339996
2024-04-03  168.852692  418.100983  169.649994  420.450012  170.679993
2024-04-04  168.026611  415.545349  168.820007  417.880005  171.919998
2024-04-05  168.783035  423.142639  169.580002  425.519989  170.389999

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-04-01  427.890015  169.479996  422.220001  171.190002  423.950012
2024-04-02  422.380005  168.229996  417.839996  169.080002  420.109985
2024-04-03  423.260010  168.580002  419.089996  168.789993  419.730011
2024-04-04  428.670013  168.820007  417.570007  170.289993  424.989990
2024-04-05  426.510010  168.949997  418.320007  169.589996  420.010010

Price         Volume
Ticker          AAPL      MSFT
Date
2024-04-01  46240500  16316000
2024-04-02  49329500  17912000
2024-04-03  47691700  16502300
2024-04-04  53704400  19370900
2024-04-05  42055200  16544300